<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="My Code Suit" verbose="2" preserve-order="true">
	<listeners>
		<listener class-name="com.testng.tests.MyCodeTests" />
	</listeners>
	<test name="t0">
		<parameter name="num1" value="3" />
		<parameter name="num2" value="6" />
		<classes>
			<class name="com.testng.tests.MyCodeTests">
				<methods>
					<include name="testAdd" description="adding some value" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="t1">
		<parameter name="num1" value="2" />
		<parameter name="num2" value="2" />
		<classes>
			<class name="com.testng.tests.MyCodeTests">
				<methods>
					<include name="testAdd" description="adding some value" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="general-test" preserve-order="true">
		<parameter name="num1" value="2" />
		<parameter name="num2" value="2" />
		<test name="inner-general-test1">
			<classes>
				<class name="com.testng.tests.MyCodeTests">
					<methods>
						<include name="testAdd" description="adding some value" />
					</methods>
				</class>
			</classes>
		</test>
		<test name="general-inner-inner-test" preserve-order="true">
			<parameter name="num1" value="2" />
			<parameter name="num2" value="2" />
			<test name="inner-iner-general-test1">
				<classes>
					<class name="com.testng.tests.MyCodeTests">
						<methods>
							<include name="testAdd" description="adding some value" />
						</methods>
					</class>
				</classes>
			</test>
		</test>
		<test name="inner-general-test2">
			<classes>
				<class name="com.testng.tests.MyCodeTests">
					<methods>
						<include name="testAdd" description="adding some value" />
					</methods>
				</class>
			</classes>
		</test>

	</test>
	<test name="t2">
		<classes>
			<class name="com.testng.tests.MyCodeTests">
				<methods>
					<include name="testAdd" description="adding some value" />
				</methods>
			</class>
		</classes>
	</test>

	<test verbose="2" name="Default test">
	    <parameter name="str" value="moshe"/>
		<groups>
			<run>
				<include name="assert" description="the asserted one" />
				<include name="fail" description="the failure" />
				<include name="broken" description="im broken" />
			</run>
		</groups>
		<classes>
			<class name="com.testng.tests.Test1" />
		</classes>
	</test>


</suite>
