body, html {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

.open {
}


/*hide root's checkbox*/
#builder_root .jstree-checkbox {
       display:none;
}

.col-padding {
	padding: 30;
}


#testInfo {
    position: absolute;
    z-index: 1000;
    background: #ffffff;
    height: 250px;
    bottom: -250px;
    -webkit-box-shadow: 0px -8px 9px -1px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px -8px 9px -1px rgba(0,0,0,0.28);
    box-shadow: 0px -8px 9px -1px rgba(0,0,0,0.28);
}

#testInfoRight {
    width: 300px;
    position: absolute;
    z-index: 1000;
    background: #ffffff;
    height: 100%;
    right: -300px;
    -webkit-box-shadow: -3px 0px 6px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    -3px 0px 6px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         -3px 0px 6px 0px rgba(50, 50, 50, 0.75);
}

@media (min-width: 768px) {

    #jstree_test_inventory,#jstree_scenario_builder,reporter {
        height: 90%;
        overflow-x: scroll;
        overflow-y: scroll;
    }
}

/*#left {*/
/*background-color: #FC6E51;*/
/*text-align: center;*/
/*height:100%;*/
/*}*/

#jstree_test_inventory,#jstree_scenario_builder,#reporter {
    height: 90%;
    /*text-align: center;*/
}

.test_bold {
    font-weight: 600
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

#csvDiv {
	margin: 12px 0;
}

.csvLoad {
	background: url(../img/csv_icon.gif) no-repeat scroll 7px 7px;
	padding-left:30px;
}